<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<% for entry in @entries %>
  <h4><%= entry["title"] %></h4>
  <h6> <%= entry["occurred_on"] %> </h6>
  <ul>
    <li><%= entry["description"] %></li>
  <% if entry.uploaded_image.attached? %>
    <img src="<%= url_for(entry.uploaded_image) %>" />
    </ul>
  <% end %>
<% end %>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>